/*
#FFF5E4
#FFE3E1
#FFD1D1
#FF9494

#ff9292
#ffb4b4
#ffdcdc
#ffe8e8 */
body {
  font-family: 'Peralta', cursive;
  text-align: center;
}

h1 {
  font-size: 4rem;
  line-height: 1.5;
}

h5 {
  color: #ffffff;
  font-weight: bolder;
  background-color: #ff9292;
  border-width: 100%;
  font-size: 2.25rem;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}


.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
}

#title {
  background-color: #ff9292;
  color: #fff;
}

#title-text {
  padding-top: 6rem;
}

.title-image {
  width: 100%;
}

#timelapse {
  background-color: #ffdcdc;
  color: #ff9292;
}

/* Keeps Carousel Image Size Consistent */
.carousel-item {
  height: 600px;
  padding: 7% 15%;
}

.carousel-inner {
  height: 600px;
}

.item-img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 600px;
  
}

/* Carousel Buttons */
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

#milestones {
  background-color: #ff9292;
  text-align: center;
  color: #fff;
}

.card {
  background-color: #FFF5E4;
  padding: 1rem;
  border-radius: 25px;
}

.card-img-top {
  border-radius: 25px;
}
.card-body {
  border-radius: 25px;
}

/* 
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
  } 

  #timelapse {
    height: 500px;
  }
  .carousel-inner {
    height: auto;
  }
  .carousel-item {
    max-height: 350px;
    padding: 7% 15%;
}


} */
/* 
@media (max-width: 1028px) {
.container-fluid {
  width: 100%;
} */

